# Database
DATABASE_URL="postgresql://user:password@localhost:5432/wedding_db"

# Server
PORT=3000

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

# Admin Authentication
ADMIN_USERNAME=tu_usuario_aqui
ADMIN_PASSWORD=tu_password_aqui
ADMIN_USERNAME_ALT=tu_usuario_alternativo
ADMIN_PASSWORD_ALT=tu_password_alternativo
JWT_SECRET=una_clave_secreta_super_larga_y_random_123456
